<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
  </head>
  <body>
    <a onClick="goBack()" href="#" class="backLink">< Search again</a>
    <h3>A recent tweet containing '<span><%=search_string%></span>' came from:</h3>
    <div id="map"></div>
    <script>

      function initMap() {
        var latLong = JSON.parse('<%=data[0].location%>');
        var pos = {lat: latLong[1], lng: latLong[0]};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: pos
        });
        var marker = new google.maps.Marker({
          position: pos,
          map: map
        });
      }

      function goBack(){
        window.location.href = '/api/search/';
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap">
    </script>
  </body>
</html>