<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
    <div class="page-data">
        <h3 class="title">Search for tweets:</h3>
        <form method="post" action="" id="search-form">
          <input id="search_string" type="text" name="search_string">
          <input type="button" value="Search" onClick="search()">
        </form>

        <div class="err-area"></div>
    </div>
    <div class="history">
        <h3 class="title">Previous:</h3>
        <form method="post" action="" id="prev-form">
        <% if(data.length){ 
                            
            for(var i = 0;i < data.length;i++) { %>

                <a href="#" onClick="prevSearch(this)" class="list-element" name="search_string"><%=data[i].search_string%></a><br>

            <% }

        }else{ %>
            <div class="list-element">No previous search</div>
        <% } %>
        </form>
    </div>


<script>

    function search(){
       
        //var searchString = $("#search_string").val();

        $.ajax({

            url:"/api/search/",
            type:"post",
            data:$("#search-form").serialize(),
            success:function(res){
                window.location.href = '/api/map/'+res;
                return false;
            },
            error:function(xhr, status, error){
                console.log(status);
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                   
                     err +='<div>'+item.msg+'</div>';
                });
                $(".err-area").html(err);    
                return false;
            }
        });
    }

        function prevSearch(element){

        $('#search_string').html($(element).html());
        $.ajax({

            url:"/api/search/",
            type:"post",
            data:'search_string='+$(element).html(),
            success:function(res){
                window.location.href = '/api/map/'+$(element).html();
                return false;
            },
            error:function(xhr, status, error){
                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                   
                     err +='<div>'+item.msg+'</div>';
                });
                $(".err-area").html(err);    
                return false;
            }
        });
    }

</script>
</body>
</html>
